path:hover {
  fill: #ccccff;
}

#my-svg-element {
  pointer-events: all;
}

ul {
  list-style: none;
}

/** -------------------- Popup Window ----------------------- **/
#popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  height: fit-content;
}

.hidden {
  display: none;
}
