path:hover{
 fill: #CCCCFF;
}

#my-svg-element {
    pointer-events: all;
  }

  /** -------------------- popups ----------------------- **/
  #popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
  }

  .hidden{
    display: none;
  }